<!DOCTYPE html>
<html>

<head>
    <title>Summoner Search</title>
</head>

<body>
    <form>
        <label for="summoner-name">Summoner Name:</label>
        <input type="text" id="summoner-name" name="summoner-name"><br><br>

        <label for="region">Region:</label>
        <select id="region" name="region">
            <option value="na">NA</option>
            <option value="euw">EUW</option>
            <option value="eune">EUNE</option>
            <option value="kr">KR</option>
        </select><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>